.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url(../img/home-bg.jpg);
}

.tech-container {
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.tech-container .overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 0;
	overflow: hidden;
	bottom: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
	z-index: 99;
	padding: 2.5rem;
	opacity: 0;
	transition: all 0.3s ease-in;
}

.tech-container:hover .overlay {
	opacity: 1;
	height: 100%;
}

.tech-container .overlay h3 {
	text-transform: uppercase;
	font-size: 1.2rem;
}

.tech-container .overlay p {
	color: #c3c3c3;
}

#scroll {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url(../img/home-bg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 25vh;
}

.video-container {
	overflow: hidden;
}

.video {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 320px;
}
