.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url(../img/ml-bg.jpg);
}

.company-link {
	text-decoration: none !important;
}

.company {
	background-position: center;
	background-size: cover;
	height: 12rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0.25rem 5rem rgba(0, 0, 0, 0.25);
	color: #efefef;
	transition: all 0.3s ease-in;
}

.company-link:hover .company {
	transform: scale(1.02);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

#ibm {
	background-image: linear-gradient(
			to bottom right,
			rgba(92, 37, 141, 0.75),
			rgba(67, 137, 162, 0.75)
		),
		url(../img/ibm.jpg);
}

#microsoft {
	background-image: linear-gradient(
			to bottom right,
			rgba(192, 72, 72, 0.75),
			rgba(72, 0, 72, 0.75)
		),
		url(../img/microsoft.jpg);
}

#amazon {
	background-image: linear-gradient(
			to bottom right,
			rgba(194, 21, 0, 0.75),
			rgba(255, 195, 0, 0.75)
		),
		url(../img/amazon.jpg);
}

#oracle {
	background-image: linear-gradient(
			to bottom right,
			rgba(203, 53, 107, 0.75),
			rgba(189, 63, 50, 0.75)
		),
		url(../img/oracle.jpg);
}

#sas {
	background-image: linear-gradient(
			to bottom right,
			rgba(255, 212, 82, 0.75),
			rgba(84, 74, 125, 0.75)
		),
		url(../img/sas.jpg);
}

#google {
	background-image: linear-gradient(
			to bottom right,
			rgba(236, 111, 102, 0.75),
			rgba(243, 161, 131, 0.75)
		),
		url(../img/google.jpg);
}

.video {
	display: block;
	width: 100%;
	min-height: 480px;
	max-height: auto;
}
