* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

.jumbotron {
	background-color: #222;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main-title {
	font-size: 3rem;
}

.subtitle {
	font-size: 1.4rem;
}

.footer-link {
	color: #b38bf3;
	margin-right: 0.5rem;
	text-decoration: none;
	transition: all 0.3s ease-in;
}

.footer-link:hover {
	color: #6610f2;
}
